@font-face {
  font-family: "ValorantFont";
  src: url("../../../fonts/Valorant_Font.ttf");
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
}

.h1Container {
  height: 70%;
  width: 40rem;
  text-align: center;

  background-image: url("https://i.gifer.com/7VE.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.notFoundh1 {
  font-family: "ValorantFont";
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.801);
  height: 3.6rem;
}
.notFoundh1 p {
  font-family: "ValorantFont";
  display: flex;
  justify-content: center;

  color: rgba(255, 2, 2, 0.664);
}
