@font-face {
  font-family: "ValorantFont";
  src: url("../../../fonts/Valorant_Font.ttf");
}
.detailContainer {
  display: flex;
  height: 94vh;
  width: 100vw;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.detailC{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.allDetailContainer {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.856);
  border: solid black 0.3rem;
  text-align: center;
  color: grey;
  width: 95vw;
  height: 65vh;
  border-radius: 2rem;
}

.allDetailContainer:hover {
  transform: scale(1.01);
  transition: 0.4s;
  box-shadow: -1px 1px 55px 34px rgba(0, 0, 0, 0.75);
}
.imginfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    margin: 0.5rem;
  width: 40rem;
height: 100%;
}

.pContainer {
  text-align: left;
  overflow: auto;
  height: auto;
}
.imgcont{
  height: 20rem;
}
.detailsImagen {
  width: 30rem;
  height: fit-content;
  border-radius: 2rem;
  border: black solid 0.3rem;
}
.detailsImagen:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  margin: 1rem;
  height: 100%;

}

.detailName {
  font-family: "ValorantFont";
  font-size: 3rem;
  color: grey;
}

.detailName:hover {
  color: white;
  transition: 0.4s;
}
.detailsP {
  overflow: auto;
  color: rgb(192, 191, 191);
}
.detailsDescription{
  color: grey;
  font-size:larger;
}
.backButtonContainer {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 2rem;
}
.backButton {
  width: 10rem;
  font-size: 2rem;
  color: rgb(151, 147, 147);
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 1rem;
  margin-left: 1rem;
}
.backButton:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: grab;
  box-shadow: -3px -4px 18px 0px rgba(211, 208, 208, 0.75);
}

.backButton:active {
  background-color: rgba(108, 6, 6, 0.998);
  transition: 0.1s;
}
.deleteButton {
  text-align: center;
  width: 3rem;
  font-size: 3rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  border-radius: 1rem;
  border: white solid 0.1rem;
}
.deleteButton:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 0);
  border:.1rem red solid;
  transition: 0.2s;
  cursor: grab;
}
.deleteContainer {
  display: flex;
  width: 89%;
  margin-bottom: 1rem;
  justify-content: right;
}
